#qunit-fixture ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 300px;
  height: 250px;
  overflow: hidden;
}

#qunit-fixture li {
  float: left;
  width: 100px;
  height: 100px;
  background-color: #fee;
}

#qunit-fixture li.selected {
  background-color: red;
}
